.card-container {
    display: flex;
    justify-content: space-between;
    margin: -20px; /* Reduce el espacio entre las cartas */
  }
  
  .card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 0 0.5px; /* Reduce el espacio horizontal entre las cartas */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem; /* Tamaño de fuente más grande */
  }
  